//
// Layout
//


// Main Containers


.section {
  position: relative;
  top: -3.4%;
  padding: 0 1.75rem 1.75rem 1.75rem;

  @media screen and (min-width: 1300px) {
    width: 60rem; // 1200 px
  }
}

.main {
  max-width: 100%;
}


// Main Heading


.main-heading {
  margin-top: 0;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}


// Search


.search {
  margin-bottom: $gutter;
  padding: $box-padding;
  background-color: $white;
  border-radius: $border-radius;
}


// Information


.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  &-card {
    &__icon {
      width: 5rem;
      height: 5rem;
      margin-top: .85rem;
      margin-bottom: .55rem;
    }
  }
}
